.burger-div {
  overflow: scroll;
  height: 500px;
  width: 650px;
}

.top-bun {
  height: 115px;
}

.bottom-bun {
  height: 79px;
}

.meat-image {
  width: 530px;
}

.cheese-image {
  width: 530px;
}

.chicken-image {
  width: 530px;
}

.salad-image {
  width: 530px;
}

@media (max-width: 768px) {
  .burger-div {
    overflow: scroll;
    height: 500px;
    width: auto;
    height: 380px;

    p {
      text-align: center;
    }
  }

  .top-bun {
    height: auto;
    width: 100%;
  }

  .bottom-bun {
    height: auto;
    width: 97%;
  }

  .meat-image {
    width: 100%;
  }

  .cheese-image {
    width: 100%;
  }

  .chicken-image {
    width: 100%;
  }

  .salad-image {
    width: 100%;
  }
}
